/*自定义*/
.amap-info-outer {
  padding-right: 10px;
}

.clear-float:after {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.f-l{
  float: left;
}
.f-r{
  float: right;
}
.text-center{
  text-align: center;
}
.flex{
  display: flex;
  display: -webkit-flex;
}
.justify-center{
  justify-content: center;
  -webkit-justify-content: center;
}
.justify-between{
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
